<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="pygwt:module" content="/static/pyjamas/interface">
  <link REL=STYLESHEET type='text/css' href="/static/styles/style.css">
  <link rel="shortcut icon" href="/static/favicon.ico">
  <title>last.fm</title>
</head>
<body bgcolor="white">
<script language="javascript" src="/static/pyjamas/bootstrap.js"></script>
<iframe id='__pygwt_historyFrame' style='width:0;height:0;border:0'></iframe>
</body>
</html>
